* {

    box-sizing: border-box;
}

body {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

main {

    width: 980px;
    display: flex;
    margin: 0 auto;
    position: relative;

}

li {

    list-style: none;
}

a {

    text-decoration: none;
}

.bg-color {

    background-color:#30303a;
}

.container-header {

    max-width: 100%;
    height: 60px;

}


.container-header {

    display: flex;
    width: 980px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.logo {

    padding: 15px;
    margin-right: 5px;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
    color: #CCC;
      
}

.logo span {

    color: #FFD700;
    text-transform: uppercase;
}

.media-socials {

    padding:15px;
    
}

.media-socials img {

    padding: 0 8px;
    margin-right: 10px;
 
}

.top-2 {

    background-color:#FFF;
    width: 980px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.menu {

    border-bottom: 3px solid #EEE;
    height: 84px;
    padding: 20px;
    display:flex;
    flex:1;
}


.col-100 {

    width: 100%;
    position:relative;
}


.nav-main ul {

    display:flex;
    padding-left: 5px;
    padding-right: 5px;

}

.nav-main li {

    margin: 8px;
    
}

.nav-main li:hover {

    border-bottom: 2px solid #008B8B;

}

.nav-main a {

    color: #8b8b8b;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    text-transform: uppercase;
    font-size: 20px; 
    height: 84px;
    display: flex;
    align-items: center;

}

.nav-main a:hover {

    color:#008B8B;

}

.nav-main a.active {

    color:#008B8B;

}

.search {

    width: 25%;
    text-align:center;
    
}

.search input {

    height: 36px;
    padding:10px;
    width:190px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 2px solid #8b8b8b;

}

.banner {

    height: calc(100vh - 144px); 
   
}


.slide {

    width: 100%;
  
    
}

.slide img {

    position: absolute;
    opacity:0;
    width: 100%;
    height: 100%;
    background-position: bottom;
    object-fit: cover;
    transition: linear .8s all ;

}

.slide img.selected {

    opacity: 1; 
   
}

.slide .modal {

    background-color:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.slide .modal h1 {

    color: #FFF;
    font-size: 2.5em;
    text-transform: uppercase;

}

.modal h1 span {

    color: #21b5da;

}

.modal p {

    color: #FFF;
    width: 600px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    margin-left: 10px;
    margin-top: 10px;

}

.pointer {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20px;
    height: 200px;
    align-items: flex-end;
   
}

.modal .point {

    width: 18px;
    height: 18px;
    border: 2px solid #008B8B;
    border-radius: 10px;
    margin: 5px;
    cursor:pointer;
    

}

.modal #p1 {

    background-color: #008B8B;

}